:root {
    --body-background-color: #D7D7D7;
    --dark-background: #414A67;
    --body-heading-text: #363D55;
    --input-outline: #D0D0D0;
    --button: #587EF4;
    --red-buttons: #FF465A;
    --white-text: #FFFFFF;
}

body {
    background-color: var(--body-background-color);
    padding: 0;
    margin: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    background-color: var(--body-heading-text);
    color: var(--white-text);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.headerMenu {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
}

.headerMenu li a {
    text-decoration: underline;
    color: var(--white-text);
    margin-right: 10em;
    font-size: large;
}

.timerContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.timerContainer h3 {
    margin-right: 2em;
}

.timerContainer input {
    height: 2em;
    max-width: min-content;
    width: 5vw;
    text-align: center;
}

.burgerMenu {
    display: none;
}

.financesSection {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
}

.financeContainer {
    background-color: var(--button);
    color: var(--white-text);
    padding: 1em;
    width: 25%;
    margin-top: 2em;
    text-align: left;
    border-radius: 0.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.financeContainer:hover {
    scale: 1.01;
    transition: 0.5s ease-in-out;
}

.financesInput {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.incomeInput, .expenseInput {
    background-color: var(--white-text);
    margin-top: 2em;
    padding: 2em;
    border-radius: 0.5em;
}

.incomeInput h2, .expenseInput h2 {
    color: var(--body-heading-text);
}

.incomeInput {
    width: 30%;
    /*https://www.w3schools.com/css/css3_shadows_box.asp*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.incomeInput input[type = "text"], .incomeInput select {
    height: 3em;
    border: 2px solid var(--input-outline);
}

.incomeInput form {
    display: flex;
    gap: 2em;
    flex-direction: column;
}

.expenseInput {
    width: 50%;
    display: flex;
    flex-direction: column;
    /*https://www.w3schools.com/css/css3_shadows_box.asp*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.expenseInput input[type = "text"], .expenseInput select, .filterSelect {
    height: 3em;
    width: 50%;
    border: 2px solid var(--input-outline);
}

.filterSelect {
    margin-bottom: 1em;
}

.expenseInput form {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.column {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

form {
    display: flex;
}

input[type = "submit"] {
    background-color: var(--button);
    color: var(--white-text);
    padding: 0.5em;
    width: 40%;
    align-self: center;
    border: none;
    border-radius: 0.5em;
}

input[type = "submit"]:hover {
    background-color: var(--dark-background);
    transition: 0.3s ease-in-out;
    scale: 1.02;
}

.transactionHistory {
    background-color: var(--white-text);
    margin-right: auto;
    margin-left: auto;
    width: 95%;
    margin-top: 2em;
    border-radius: 0.5em;
    padding-bottom: 2em;
    /*https://www.w3schools.com/css/css3_shadows_box.asp*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.transactionHistory h2 {
    color: var(--body-heading-text);
    padding: 2em;
}

.transactionLog {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}

table {
   width: 90%;
   text-align: center;
   overflow: scroll;
}

table tr {
    height: 2em;
}

table th {
    background-color: var(--dark-background);
    color: var(--white-text);
}

table tr:nth-child(odd) {
    background-color: lightgray;
}

table button {
    background-color: var(--white-text);
    color: black;
    border: none;
}

.filterButton {
    background-color: var(--button);
    color: var(--white-text);
    border: none;
    padding: 1em;
    border-radius: 0.3em;
    margin-left: 4em;
    margin-bottom: 2em;
    width: 10%;
}

.filterButton:hover {
    background-color: var(--dark-background);
    transition: 0.3s ease-in-out;
}

.filterOption select {
    padding: 0.5em;
    margin-left: 4em;
    margin-top: 1em;
}

fieldset {
    margin-top: 1em;
    width: 80%;
    margin-left: 4em;
    margin-bottom: 1em;
}

.reset {
    text-align: center;
    margin-top: 3em;
}

.resetButton {
    background-color: var(--red-buttons);
    color: var(--white-text);
    padding: 2em;
    width: 30%;
    border: none;
    border-radius: 0.5em;
    margin-bottom: 2em;
    font-size: 1em;
}

.resetButton:hover {
    background-color: red;
    transition: 0.5s ease-in-out;
    scale: 1.01;
}

#incomeTypeError, #expenseTypeError {
    color: red;
}

@media (MAX-WIDTH: 820px) {
    .headerMenu {
        flex-direction: column;
    }

    .burgerMenu ul {
        display: block;
        flex-direction: row;
    }
}

@media (MAX-WIDTH: 600px) {
    .headerMenu {
        display: none;
    }

    .financesSection {
        flex-direction: column;
    }

    .financeContainer {
        margin-right: auto;
        margin-left: auto;
        width: 90%;
        text-align: center;
    }

    .financesInput {
        flex-direction: column;
        align-items: center;
    }

    .incomeInput, .expenseInput {
        width: 80%;
    }
}

@media (MAX-WIDTH: 500px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .timerContainer {
        flex-direction: column;
    }

    .timerContainer input {
        width: 5em;
        margin-bottom: 2em;
    }

    .burgerMenu {
        display: block;
    }
    
    .financesSection {
        flex-direction: column;
    }

    .hiddenMenu{
        display: flex;
        background-color: var(--dark-background);
        flex-direction: column;
        text-align: center;
        list-style-type: none;
        padding: 1em;
        margin: 0;
    }

    .hiddenMenu li {
        margin-bottom: 0.5em;
    }

    .hiddenMenu li a{
        color: var(--white-text);
    }

    .financeContainer {
        margin-right: auto;
        margin-left: auto;
        width: 85%;
    }

    .transactionLog {
        flex-direction: column;
        gap: 2em;
    }

    table {
        width: 95%;
        margin-right: auto;
        margin-left: auto;
    }

    .filter {
        align-self: left;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .filterButton {
        width: 55%;
        margin: 0;
    }

    .column {
        flex-direction: column;
    }

    .column select, .column input[type = "text"] {
       width: 90%;
    }
}